:root{
  --magic-purple: #5e2390;
  --poison-green: #559022;
  --border-width: 8px;
  --border-offset: 33px;
  --banner-height: 86px;
}

.App {
  text-align: center;
  color: #1c0b2b;
}

#app-banner{
  
  text-align: center;
  margin: 0px;
  padding: 22px 22px;
 
}

#quiz{
  position: absolute;
  /*left: calc(-100vw - var(--border-offset));*/

  width: calc(100vw - var(--border-offset)) ;
  height: calc(100vh - var(--border-offset)) ;
  
  border: solid var(--magic-purple) var(--border-width);


  background-color: var(--magic-purple);
  
  z-index: 33;
}

.quiz-on{
  left: 0px;
  top: var(--banner-height);
  animation: quiz-slide 1.2s;
}

.quiz-off{
  left: calc(-100vw - var(--border-offset));
}

.sliding{
  animation: quiz-slide 1.2s infinite;
}



#quiz-form{
  width: calc(100vw - var(--border-offset)) ;
  height: calc(100vh - var(--border-offset)) ;
  
  border: solid var(--poison-green) var(--border-width);

}

@keyframes quiz-slide {
  from {
    left: calc(-100vw - var(--border-offset));
  }
  to{
    top: var(--banner-height);
    left: 0px;
  }
}


.question-card{
  width: calc(100vw - var(--border-offset)) ;
  height: calc(100vh - var(--border-offset)) ;
  
  border: solid var(--poison-green) var(--border-width);
}

