:root{
  --magic-purple: #5e2390;
  --poison-green: #559022;
  --border-width: 8px;
  --border-offset: 33px;
  --banner-height: 86px;
}

.App {
  text-align: center;
  color: #1c0b2b;
  font-family: 'dumbledore-two';
  position: absolute;
  left: 40%;
  transform: translate(-50%, 0%)
}

@font-face {
  font-family: 'dumbledore-two';
  src: url('./typefaces/dum2.ttf') format("truetype");
}

@font-face {
  font-family: 'dumbledore-two-shadow';
  src: url('./typefaces/dum2shad.ttf') format("truetype");
}

@font-face {
  font-family: 'magic-school';
  src: url('./typefaces/MagicSchoolOne.ttf') format("truetype");
}

@font-face {
  font-family: 'wizzta';
  src: url('./typefaces/wizzta.ttf') format("truetype");
}

#app-banner{
  
  text-align: center;
  margin: 0px;
  padding: 22px 22px;
  font-family: 'magic-school';
  font-size: 6em;
  z-index: 33;
  left: 50%;
  top: 10%;
 
}

#app-banner a{
  text-decoration: none;
}

#home{
 /* background-image: url("./images/kisspng-king-arthur-magician-dungeons-dragons-fantasy-my-merlin-5b478c21b2e550.6693665515314155857328.png");*/
 width: 100vw;
 height: 100vh;
}

#wizard-img{
  position: absolute;
  top: 0%;
  left: 70%;
  height: 60vh;
  
}

#quiz{
  position: absolute;
  /*left: calc(-100vw - var(--border-offset));*/

  width: calc(100vw - var(--border-offset)) ;
  height: calc(100vh - var(--border-offset)) ;
  
  border: solid var(--magic-purple) var(--border-width);


  background-color: var(--magic-purple);
  
  z-index: 33;
}

.quiz-on{
  left: 0px;
  top: var(--banner-height);
  animation: quiz-slide 1.2s;
}

.quiz-off{
  left: calc(-100vw - var(--border-offset));
}

.sliding{
  animation: quiz-slide 1.2s infinite;
}

#quiz-form-div{

}



#quiz-form{
  position: absolute;
  left: 0%;
  width: calc(100vw - var(--border-offset)) ;
  height: calc(100vh - var(--border-offset)) ;
  
  border: solid var(--poison-green) var(--border-width);

}

@keyframes quiz-slide {
  from {
    left: calc(-100vw - var(--border-offset));
  }
  to{
    top: var(--banner-height);
    left: 0px;
  }
}


.question-card{
  position: relative;
  width: calc(100vw - var(--border-offset)) ;
  height: calc(100vh - var(--border-offset)) ;
  min-height: 380px;
  
  border: solid var(--poison-green) var(--border-width);
  font-size: 22pt;
}

.question-div{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.multiple-choice-element{
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.submit-answer{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 80pt;
  font-family: 'dumbledore-two';
  font-size: 18pt;
  
}
